@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light: #e5e7eb;
  --dark: #3987cb;
}

@layer base {
  @font-face {
    font-family: ;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.m-auto {
  margin:0 auto;
}

header.st-header img {
  margin: 0 auto;
}

header.st-header h2 {
  margin-bottom: 0;
}

.st-session-item {
  background: var(--light);
  margin-bottom: 1em;
}

.st-session-item:last-child {
  margin-bottom: 0;
}

.st-navigation a {
  background: var(--light);
}

.st-navigation a:hover {
  color: #ffffff;
  background: var(--dark);
}

.st-link {
  color: #ffffff;
  background: var(--dark);
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: block;
  width: 100%;
}

.st-link:hover,
.st-link:focus {
  color: var(--foreground);
  background: var(--light);
}

.st-action {
  color: #ffffff;
  background: var(--dark);
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.st-action:hover,
.st-action:focus {
  color: var(--foreground);
  background: var(--light);
}

.st-action * {
  display: inline;
}

.st-action svg {
  margin-left: 0.5rem;
}

.st-form input[type=date],
.st-form input[type=text],
.st-form textarea {
  border: 1px solid var(--light);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
